<a href="https://colab.research.google.com/github/nedokormysh/Stepik_Karpov_ML/blob/main/Stepik_pandas_dataframes_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Edu

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# student_performance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')
students_performance = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Karpov_ML/main/StudentsPerformance.csv')

In [ ]:
students_performance.head(6)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

In [ ]:
students_performance.tail(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
students_performance.lunch.describe()

count         1000
unique           2
top       standard
freq           645
Name: lunch, dtype: object

In [ ]:
students_performance.loc[students_performance.lunch=='standard']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
987,male,group E,some high school,standard,completed,81,75,76
991,female,group B,some high school,standard,completed,65,82,78
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77

In [ ]:
(students_performance['lunch'] == 'standard').mean()

0.645

In [ ]:
(students_performance['lunch'] == 'free/reduced').mean()

0.355

Стороковые переменные в рассчет описательной таблицы не попали.
Рассмотрим типы данных.
скорес - это количественные переменные.

In [ ]:
students_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Комбинируя методы можно сделать более сложные запросы. Например сгруппировать.
Методы позволяют что-то сделать с данными, а атрибуты скорее позволяют посмотреть, что в данных хранится.

In [ ]:
students_performance.groupby('gender').agg({'writing score' : 'mean', 'reading score': 'mean'})

        writing score  reading score
gender
female      72.467181      72.608108
male        63.311203      65.473029

Размер наших данных 1000 строк и 8 колонок

In [ ]:
students_performance.shape

(1000, 8)

Другой вариант размера: произведение строк на столбцы.

In [ ]:
students_performance.size

8000

Научимся отбирать нужные колонки и строчки нашей таблицы. 
Первые 5 наблюдений и первые 3 переменные.

In [ ]:
students_performance.iloc[0:5, 0:3]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [ ]:
students_performance.iloc[[0, 3, 10], [0, 5, -1]]

    gender  math score  writing score
0   female          72             74
3     male          47             44
10    male          58             52

In [ ]:
students_performance.iloc[[0, 3, 10], 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
3,male,group A,associate's degree,free/reduced,none
10,male,group C,associate's degree,standard,none

In [ ]:
students_performance.iloc[[0, 3, 10], [-1, -2, -3]]

    writing score  reading score  math score
0              74             72          72
3              44             57          47
10             52             54          58

По лейблам. Названиям.

In [ ]:
students_performance_with_names = students_performance.iloc[[0, 3, 5, 6, 12]]
students_performance_with_names.index = ['Cersei', 'Gregor', 'Arya', 'Deyneris', 'Noone']
students_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Gregor,male,group A,associate's degree,free/reduced,none,47,57,44
Arya,female,group B,associate's degree,standard,none,71,83,78
Deyneris,female,group B,some college,standard,completed,88,95,92
Noone,female,group B,high school,standard,none,65,81,73

Loc работает с лейблами.

In [ ]:
students_performance_with_names.loc[['Cersei', 'Arya'], ['lunch', 'math score']]

           lunch  math score
Cersei  standard          72
Arya    standard          71

In [ ]:
type(students_performance_with_names.loc[['Cersei', 'Arya'], ['lunch', 'math score']])

pandas.core.frame.DataFrame

До того, т.е. выше мы делали запрос и получали некий датафрейм из исходного.

Все наблюдения из первой колонки.

In [ ]:
students_performance.iloc[:, 0]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

Тут получили не датафрейм, а серию.

In [ ]:
type(students_performance.iloc[:, 0])

pandas.core.series.Series

Создадим серию.

In [ ]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [ ]:
myser1 = pd.Series([0, 1, 2], index=['Cersei', 'Gregor', 'Arya'])
myser2 = pd.Series([4, 5, 6], index=['Cersei', 'Gregor', 'Arya'])

Пандасовская таблица не просто таблица, а объединённые пандасовские серии. (каждая колонка - серия под именем)

Например, создадим датафрейм из созданных выше двух серий.

In [ ]:
pd.DataFrame({'col_name_1': myser1, 'col_name_2': myser2})

        col_name_1  col_name_2
Cersei           0           4
Gregor           1           5
Arya             2           6

Аналогия датафрейма со словарём. Обратимся, например, просто по названию к нашему датайфрему - получаем просто серию. Здесь говорим: возьми то, что лежит по названию гендер

In [ ]:
students_performance_with_names['gender']

Cersei      female
Gregor        male
Arya        female
Deyneris    female
Noone       female
Name: gender, dtype: object

Если обратимся по-другому, то получаем уже датафрейм. Возьми от всего датафрейма только одну колонку.

In [ ]:
students_performance_with_names[['gender']]

          gender
Cersei    female
Gregor      male
Arya      female
Deyneris  female
Noone     female

Здесь спрашиваем про размер серии.

In [ ]:
students_performance_with_names['gender'].shape

(5,)

А здесь про размер датафрейма.

In [ ]:
students_performance_with_names[['gender']].shape

(5, 1)

#Test

## Какие способы позволяют отобрать 7 первых строк датафрэйма df

df.iloc[:7]

df.iloc[0:7]

df.loc[:6], если индекс представляет собой последовательность чисел от 0 с шагом 1

df.head(7)

## Сопоставьте значения из двух списков

df.index возвращает коллекцию с индексом всех строк

df.columns возвращает коллекцию с названиями колонок

df.get_dtype_counts() возвращает серию с числом колонок каждого из типов

df.size возвращает число ячеек (число строк, умноженное на число столбцов) в df

df.shape возвращает кортеж из числа строк и столбцов у df

df.dtypes возвращает серию с описанием типа каждой колонки

df.select_dtypes(include=types_to_include, exclude=types_to_exclude)
возвращает часть датафрэйма, куда были включены колонки с типами, указанными в include, или исключены колонки с типами, указанными в exclude

In [ ]:
students_performance.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
students_performance.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [ ]:
#students_performance.get_dtype_counts()
students_performance.dtypes.value_counts()

object    5
int64     3
dtype: int64

## Заполните пропуски

Число колонок в представленном датафрэйме 12, а число строк 891. Тип float имеют 2 колонки, int - 5, и object - 5

In [ ]:
#titanic_passengers = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')
titanic_passengers = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Karpov_ML/main/titanic.csv')

In [ ]:
titanic_passengers.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [ ]:
titanic_passengers.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_passengers.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanic_passengers.shape

(891, 12)

In [ ]:
titanic_passengers.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
# titanic_passengers.get_dtype_counts() old version of pandas
titanic_passengers.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

In [ ]:
titanic_passengers.dtypes.value_counts()['float64']

2

In [ ]:
titanic_passengers.dtypes.value_counts()['int64']

5

In [ ]:
titanic_passengers.dtypes.value_counts()['object']

5